<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>VTB BOSS</title>

	<link rel="icon" href="images/favicon.png">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="stylesheet.css">

	<script type="text/javascript" src="js/lodash.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="scripts/news.js"></script>
</head>
<body>
	<header class="py-2 text-center">
		<a class="navbar-brand" href="index.html">
			<img src="images/logo.png" width="170" height="35">
		</a>
	</header>
	<nav class="d-flex justify-content-center" style="overflow-x: auto;">
		<ul class="nav">
			<li class="m-2 nav-item">
				<a class="nav-link active" href="news.html">Новости</a>
			</li>
			<li class="m-2 nav-item">
				<a class="nav-link" href="securities.html">Аналитика</a>
			</li>
			<li class="m-2 nav-item">
				<a class="nav-link" href="graphics.html">Графики</a>
			</li>
		</ul>
	</nav>
	<main>
		<div class="container py-3 scrollable">
			<div class="row" id="feed">
				<div class="card-columns" id="feed"></div>
			</div>
		</div>
	</main>
	<script id="template-news" type="text/template">
		<div class="col-md-6 col-lg-3">
			<a href="<%= link %>" class="text-dark text-decoration-none" target="_blank">
				<div class="m-2 card text-center news">
					<div class="card-header d-flex align-items-center" id="test">
						<div><%= title %></div></div>
					<img class="card-img-top" src="https://buyorsell.ml/clouds/<%= id %>.png" >
					<div class="card-footer text-muted">
						<%= datetime %>
					</div>
				</div>
			</a>
		</div>
	</script>	
</body>
	
</html>