body {
	
	font-family: Calibri;
}

a.nav-link {
	
}

.bos {
	font-weight: bold;
}	
	
.bos:before {

	display: inline-block;
	content: "\200b";
	width: .6em;

	-webkit-mask-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOCAxMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gbWVldCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00Ljc3NSA0Ljg4OUw1LjYgMCAwIDcuMTExaDMuMUwyIDEybDYtNy4xMTFINC43NzV6Ii8+Cjwvc3ZnPgo=);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: left center;
	-webkit-mask-size: 100%;
}

.bos.buy {
	color: green;
}

.bos.buy:before {
	background-color: green;
}

.bos.sell {
	color: red;
}

.bos.sell:before {
	background-color: red;
}
